/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #f4f4f4; */
  color: #ffffff;
  line-height: 1.6;
  padding: 20px;
  background-color: #0d1117;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #0d1117;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.top-right-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ffffff;
  color: #0d1117;;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-right-button:hover {
  background-color: #45a049;
}

form {
  margin-top: 20px;
}

.form-label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #ffffff;
}

#imageInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  outline: none;
}

#imageInput:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    margin: 20px;
    padding: 15px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .top-right-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
